[flake8]
# Ignore tabs if your project uses them, but PEP 8 prefers spaces—consider switching
ignore = W191
exclude =
    solutions/,
    *_test.py,
    .git,
    __pycache__,
    .circleci,
    .github,
    .idea,
    allure-report,
    allure-results,
    deprecated,
    docs,
    img,
    venv,
    .venv,
    .idea,
    /.venv/,
    /.venv,
    migrations,
max-complexity = 10
max-line-length = 88  # Align with PEP 8/Black
# For PEP 257: Enable if you add flake8-docstrings to requirements.txt
doctests = True
